* {
  font-family: "Times New Roman", Times, serif;
}

.container {
  background-color: aqua;
  padding: 24px;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.copy-btn {
  height: 35px;
  font-size: 18px;
}

.char-length {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 24px;
}

.char-length span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.checkbox {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 15px;
  font-weight: 400;
  color: whitesmoke;
}

.checkbox div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.generate-btn {
  width: 100%;
  font-size: 20px;
  padding: 20px;
}
